* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    box-sizing: border-box;
    --text-color: #4B465C;
    --border-color: #aba9a9;
    --border-focus-volor: #3382d9;
    --border-focus-color: #3d93f6
}

body {
    min-height: 100vh;
    background-color: #dedede;
    margin-inline: 20vw;
    margin-top: 5vh;
}

.info-container {

}

.info-container p {
    margin-top: 10px;
    margin-bottom: 20px;
    color: var(--text-color);
}

h1 {
    margin-bottom: 10px;
}

.question-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.question-container label {
    display: block;
}

.radio-input-container {
    display: flex;
    gap: 20px;
}

.text-input {
    width: 400px;
    height: 30px;
    border-radius: 5px;
    font-size: 16px;
    color: var(--text-color);
    padding-inline: 8px;
    border: 1px solid var(--border-color);
    transition: 0.3s ease-in-out;
}

.text-input:hover {
    border: 1px solid var(--border-focus-volor);
}

.text-input:focus {
    box-shadow: 0 0 0 2px rgba(61, 147, 246, 0.3);
    outline: none;
}


.submit-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}

.submit-button {
    width: 160px;
    height: 40px;
    background-color: #3382d9;
    border: 1px solid #dad8d8;
    border-radius: 12px;
    font-size: 20px;
    transition: 0.3s ease-in-out;
    box-shadow: 0 4px 14px rgba(49, 130, 206, 0.35);
    cursor: pointer;
    color: white;
}

.submit-button:hover {
    transform: translateY(-2px);
    background-color: #4999f5;
}



input[type="radio"] {
    accent-color: #3d93f6;
    margin-right: 5px;
}

.score-group {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.score {
    position: relative;
}

.score input[type="radio"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 1px;
    height: 1px;
}

.score input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    /* можно ещё убрать pointer-events, но лучше оставить —
       так будет работать фокус с клавиатуры */
}

.score span {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #ccc;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s;
}

.score span {
    transition: 0.4s ease-in-out;
}

.score span:hover {
    border: 2px solid #e63946;
}

.score input:checked + span {
  border-color: #e63946;
  background: #e63946;
  color: white;
}